{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/lightbox.css' %}">
{% endblock css %}

{% block contenido %}
<!-- sector de bienvenida-->
<section id="bienvenida">
    <h2>Galeria de imgagenes (API REST)</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique excepturi voluptate, quidem ipsa
        velit, laboriosam at, aperiam quibusdam recusandae vero molestiae illo. Repellendus in amet nihil
        necessitatibus, error voluptatum a.</p>

 
        Filtro por Categoria:
        <select name="cboCategoria" id="cboCategoria">
            {% for reg in categorias %}
            <option>{{reg.nombre}}</option>
            {% endfor %}
        </select>
  
    <!-- buscar por nombre de mascota -->
    <form action="{% url 'CONSUMIRAPI' %}" method="post">
        {% csrf_token %}
        Busqueda Nombre de Mascota:
        <input type="text" name="txtNombre" id="txtNombre">
        <input type="submit" value="Buscar">
    </form>



</section>
<!-- seccion de blog de los perros -->
<section id="blog">
    <h3>Todas las mascotas</h3>
    <div class="contenedor">
        {% for reg in mascotas %}
        <article>
            <a href="{{reg.imagen}}" data-lightbox="perros" data-title="lindo">
                <img src="{{reg.imagen}}" alt="">
            </a>
            <h4>{{reg.nombre}}</h4>
            <h5>{{reg.edad}}</h5>
            <h5>{{reg.descripcion}}</h5>
        </article>
        {% endfor %}
    </div>
    
</section>
{% endblock contenido %}

{% block js %}
<script src="{% static 'dist/js/lightbox-plus-jquery.js' %}"></script>
{% endblock js %}